<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	• if:判断
	• choose (when, otherwise):分支选择；带了break的swtich-case
		如果带了id就用id查，如果带了lastName就用lastName查;只会进入其中一个
	• trim 字符串截取(where(封装查询条件), set(封装修改条件))
	• foreach 遍历集合
-->
<mapper namespace="com.david.mybatis.dynamicSql.dao.EmployeeDynamicMapper">
	<select id="getEmpsByConditionIf" resultType="com.david.mybatis.dynamicSql.entities.Employee">
		select
			* 
		from 
			david_employee
		<!--where 紧接着的动态查询条件不满足可能造成 sql出错解决办法：
			办法一：给where后面加上1=1，后面的条件全都带上and
		  -->
		<!-- 
		where  
			1=1
		<if test="id!=null">
			and id=#{id}
		</if>
		<if test="lastName!=null and lastName!=''">
			and last_name like #{lastName}
		</if>
		<if test="email!=null and email.trim()!=''">
			and email=#{email}
		</if>
		<if test="gender==0 or gender==1">
			and gender=#{gender}
		</if>
		-->
		<!-- 办法二：使用where标签来将所有查询条件包括在内,mybatis就会将多出来的 and或者or去掉，但是只会去掉第一个多出来的and或者or
			所以在使用where标签的时候，把and写在前面
		 -->
		<where>
			<if test="id!=null">
				and id=#{id}
			</if>
			<if test="lastName!=null and lastName!=''">
				and last_name like #{lastName}
			</if>
			<if test="email!=null and email.trim()!=''">
				and email=#{email}
			</if>
			<if test="gender==0 or gender==1">
				and gender=#{gender}
			</if>
		</where>
	</select>
	<!--
		如果and 或者or 写在后面的话，where标签无法处理，我们可以利用trim来解决这个问题
	-->
	<select id="getEmpsByConditionTrim" resultType="com.david.mybatis.dynamicSql.entities.Employee">
		select
			* 
		from 
			david_employee
		<!--
	 		prefix:前缀：trim标签体中是整个字符串拼串 后的结果,prefix给拼串后的整个字符串加一个前缀 
	 		prefixOverrides:前缀覆盖： 去掉整个字符串前面多余的字符
	 		suffix:后缀,suffix给拼串后的整个字符串加一个后缀 
	 		suffixOverrides:后缀覆盖：去掉整个字符串后面多余的字符
	 			
	 	-->
		<trim prefix="where" prefixOverrides="" suffix="" suffixOverrides="and">
			<if test="id!=null">
				id=#{id} and 
			</if>
			<if test="lastName!=null and lastName!=''">
				last_name like #{lastName} and 
			</if>
			<if test="email!=null and email.trim()!=''">
				email=#{email} and 
			</if>
			<if test="gender==0 or gender==1">
				gender=#{gender}
			</if>
		</trim>
	</select>
	<select id="getEmpsByConditionChoose" resultType="com.david.mybatis.dynamicSql.entities.Employee">
		select
			* 
		from 
			david_employee
		<where>
			<!--如果带了id就用id查，如果带了lastName就用lastName查;分支只会进入其中一个-->
			<choose>
				<when test="id!=null">
					and id=#{id}
				</when>
				<when test="lastName!=null and lastName!=''">
					and last_name like #{lastName}
				</when>
				<when test="email!=null and email.trim()!=''">
					and email=#{email}
				</when>
				<otherwise>
					<!--其它条件就是查询gender=1等于1的-->
					gender=1
				</otherwise>
			</choose>
		</where>
	</select>
	<update id="updateEmployeeBySet">
		update david_employee
		<set>
			<if test="lastName!=null and lastName!=''">
				last_name =#{lastName},
			</if>
			<if test="email!=null and email.trim()!=''">
				email=#{email},
			</if>
			<if test="gender==0 or gender==1">
				gender=#{gender}
			</if>
		</set>
		where 
			id=#{id}
<!-- 		
	Trim：也可以更新拼串
	update tbl_employee 
	<trim prefix="set" suffixOverrides=",">
		<if test="lastName!=null">
			last_name=#{lastName},
		</if>
		<if test="email!=null">
			email=#{email},
		</if>
		<if test="gender!=null">
			gender=#{gender}
		</if>
	</trim>
	where id=#{id}  -->
	</update>
</mapper>